<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta
      http-equiv="Content-Security-Policy"
      content="style-src 'self' 'unsafe-inline';"
    />
    <meta
      http-equiv="X-Content-Security-Policy"
      content="style-src 'self' 'unsafe-inline';"
    />
    <!-- <title>Kainix</title> -->
    <link rel="stylesheet" href="../resources/photon/css/photon-dev.css" />
    <link rel="stylesheet" href="../resources/custom/css/src-frame-list.css" />
    <link rel="stylesheet" href="../resources/custom/vendor/tab/tab.css" />
    <link
      rel="stylesheet"
      href="../resources/custom/vendor/content-main/content-main.css"
    />
    <link rel="stylesheet" href="../resources/custom/css/dashboard.css" />
    <link rel="stylesheet" href="../resources/custom/css/http-method.css" />
    <link rel="stylesheet" href="../resources/custom/css/content-main-child.css">
  </head>
  <body>
    <div class="window">
      <div class="toolbar-actions">
        <div class="btn-group">
          <button class="btn btn-default">
            <span class="icon icon-home"></span>
          </button>
          <button class="btn btn-default">
            <span class="icon icon-folder"></span>
          </button>
          <button class="btn btn-default active">
            <span class="icon icon-cloud"></span>
          </button>
          <button class="btn btn-default">
            <span class="icon icon-popup"></span>
          </button>
          <button class="btn btn-default">
            <span class="icon icon-shuffle"></span>
          </button>
        </div>

        <button id="btnTestAPI" class="btn btn-default">
          <span class="icon icon-home icon-text"></span>
          Test API - [Phoenix]
        </button>

        <button class="btn btn-default btn-dropdown pull-right">
          <span class="icon icon-megaphone"></span>
        </button>
      </div>
      <!-- Your app's content goes inside .window-content -->
      <div class="window-content">
        <div class="pane-group">
          <div class="pane pane-one-fourth sidebar">
            <nav class="nav-group">
              <ul class="list-group">
                <li
                  class="list-group-header"
                  style="background-color: #fafafa;"
                >
                  <input
                    class="form-control"
                    type="text"
                    placeholder="Filter"
                  />
                </li>
              </ul>
              <div class="tab-group" style="background-color: #fafafa;">
                <div
                  class="tab-item tab-item-fixed tab-menu-left active"
                  data-actionmenu="dashboard-history"
                  onclick="showTab(event, 'dashboard-history')"
                >
                  <span class="icon"></span>
                  History
                </div>
                <div
                  class="tab-item tab-item-fixed tab-menu-left"
                  data-actionmenu="dashboard-collection"
                  onclick="showTab(event, 'dashboard-collection')"
                >
                  <span class="icon"></span>
                  Collection
                </div>
              </div>
              <div
                id="dashboard-history"
                class="tab-menu-left-content"
                style="display: none;"
              >
                <div class="content-frame">
                  <div class="frame-inner">
                    <ul class="list-select list-editable">
                      <li class="active history-api" draggable="false"></li>
                    </ul>
                  </div>
                </div>
              </div>

              <div
                id="dashboard-collection"
                class="tab-menu-left-content"
                style="display: none;"
              >
                <div class="content-frame">
                  <div class="frame-inner">
                    <ul class="list-select list-editable">
                      <li class="collection-api" draggable="false">
                        <!-- ssss -->
                        <details>
                          <summary>Today</summary>
                          <ul>
                            <li>
                              <span class="method method-get">get</span
                              ><span class="method-link">API1</span>
                            </li>
                            <li>
                              <span class="method method-head">head</span
                              ><span class="method-link">API1</span>
                            </li>
                            <li>
                              <span class="method method-post">post</span
                              ><span class="method-link">API1</span>
                            </li>
                            <li>
                              <span class="method method-put">put</span
                              ><span class="method-link">API1</span>
                            </li>
                            <li>
                              <span class="method method-delete">delete</span
                              ><span class="method-link"
                                >api.hungthinhit.com/v1/phoenix/is/legend-never-die</span
                              >
                            </li>
                            <li>
                              <span class="method method-options">options</span
                              ><span class="method-link">API1</span>
                            </li>
                          </ul>
                        </details>
                        <details>
                          <summary>07/10/1999</summary>
                          <ul>
                            <li>
                              API1
                            </li>
                            <li>API2</li>
                          </ul>
                        </details>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </nav>
          </div>

          <div class="pane pane-main">
            <div class="tab-group tab-group-api">
              <div class="tab-item active">
                <span class="icon icon-cancel icon-close-tab"></span>
                Untitle Request
              </div>
              <div class="tab-item">
                <span class="icon icon-cancel icon-close-tab"></span>
                Untitle Request
              </div>
              <div class="tab-item">
                <span class="icon icon-cancel icon-close-tab"></span>
                Untitle Request
              </div>
              <div class="tab-item tab-item-fixed btn btn-add-tab">
                <span class="icon icon-plus"></span>
              </div>
            </div>

            <!-- Main Content   -->
            <div class="pane">
              <div class="content-main">
                <div class="content-main-header">
                  <div class="content-main-header-box">
                    <div class="content-main-header-left">Request name</div>
                    <div class="content-main-header-right"></div>
                  </div>
                  <div class="content-main-header-content"></div>
                </div>
                <!-- content main request fixed : DONE -->
                <div class="content-main-request-fixed">
                  <form class="form-request">
                    <div class="col-2 method-request">
                      <select name="method" id="method">
                        <option class="option-box" value="get">GET</option>
                        <option class="option-box" value="post">POST</option>
                        <option class="option-box" value="put">PUT</option>
                        <option class="option-box" value="patch">PATCH</option>
                        <option class="option-box" value="delete"
                          >DELETE</option
                        >
                        <option class="option-box" value="options"
                          >OPTIONS</option
                        >
                      </select>
                    </div>
                    <div class="col-8 path-request">
                      <input
                        id="path"
                        required="required"
                        type="text"
                        placeholder="http://localhost"
                        name="path"
                        onchange="checkSpecialSymbol(this)"
                      />
                    </div>
                    <div class="form-content"></div>
                    <div class="col-2 send-request">
                      <input
                        type="button"
                        class="btn-send-request"
                        name="submit"
                        value="Send" onclick="allData()"
                      />
                    </div>
                  </form>
                  <div class="clear-fix"></div>
                </div>
                <!-- End:==:content main request fixed : DONE -->
                <div class="pane">
                  <div class="content-main-child">


                    <div class="material-tabs">
                      <div class="tabbed-section__selector">
                        <a class="tabbed-section__selector-tab-1 active" href="#">Params</a>
                        <a class="tabbed-section__selector-tab-2" href="#">Authorization</a>
                        <a class="tabbed-section__selector-tab-3" href="#">Headers</a>
                         <a class="tabbed-section__selector-tab-4" href="#">Body</a>
                        <a class="tabbed-section__selector-tab-5" href="#">Pre-scripts</a>
                      </div>


                      <div class="tabbed tabbed-section-1 visible">
                        <div class="content-item-params-header">Query Params</div>
                        <table class="table-params" id="table-params">
                          <thead>
                            <tr>
                              <th class="thead-check"></th>
                              <th class="thead-key">Key</th>
                              <th class="thead-value">Value</th>
                              <th class="thead-description">Description</th>
                            </tr>
                          </thead>
                          <tbody id="tbody-params">
                            <tr>
                              <td class="params-check text-right">
                                <input type="checkbox" onkeydown="firstCheck(this)" onchange="changeValue()" class="input-params">
                              </td>
                              <td class="params-key">
                                <input type="text" onkeydown="firstCheck(this)" onkeyup="changeValue()" class="input-params">
                              </td>
                              <td class="params-value">
                                <input type="text" onkeydown="firstCheck(this)" onkeyup="changeValue()" class="input-params">
                              </td>
                              <td class="params-description">
                                <input type="text" onkeydown="firstCheck(this)" onkeyup="changeValue()" class="input-params">
                              </td>
                            </tr>
                            <tr id="last-row-params">
                              <td class="params-check text-right">
                                <input type="checkbox" onchange="changeValue()" onkeydown="changesParams(this)" class="input-params">
                              </td>
                              <td class="params-key">
                                <input type="text" onkeyup="changeValue()" onkeydown="changesParams(this)" class="input-params">
                              </td>
                              <td class="params-value">
                                <input type="text" onkeyup="changeValue()" onkeydown="changesParams(this)" class="input-params">
                              </td>
                              <td class="params-description">
                                <input type="text" onkeyup="changeValue()" class="input-params">
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <div class="clear"></div>
                      </div>
                      <div class="tabbed tabbed-section-2 hidden">
                        <div class="col-12 d-flex authorization-tabbed">
                          <div class="col-3 text-center authorization-tabbed-left">
                            <select name="authorize-type" id="authorize-type" onchange="setChangeType()">
                              <option value="none">None</option>
                              <option value="oauth-2">OAuth 2</option>
                            </select>
                          </div>
                          <div class="col-9 authorization-tabbed-right" id="authorization-content-right">
                            
                          </div>
                        </div>
                        <div class="clear"></div>
                      </div>
                      <div class="tabbed tabbed-section-3 hidden">
                        <div class="content-item-params-header">
                          Headers
                        </div>
                        <table class="table-headers" id="table-headers">
                          <thead>
                            <tr>
                              <th class="thead-check"></th>
                              <th class="thead-key">Key</th>
                              <th class="thead-value">Value</th>
                              <th class="thead-description">Description</th>
                            </tr>
                          </thead>
                          <tbody id="tbody-headers">
                            <tr>
                              <td class="headers-check text-right">
                                <input type="checkbox" class="input-params">
                              </td>
                              <td class="headers-key">
                                <input type="text" onkeydown="firstCheck(this)" class="input-params">
                              </td>
                              <td class="headers-value">
                                <input type="text" onkeydown="firstCheck(this)" class="input-params">
                              </td>
                              <td class="headers-description">
                                <input type="text" onkeydown="firstCheck(this)" class="input-params">
                              </td>
                            </tr>
                            <tr id="last-row-headers">
                              <td class="headers-check text-right">
                                <input type="checkbox" onkeydown="changesHeaders(this)" class="input-params">
                              </td>
                              <td class="headers-key">
                                <input type="text" onkeydown="changesHeaders(this)" class="input-params">
                              </td>
                              <td class="headers-value">
                                <input type="text" onkeydown="changesHeaders(this)" class="input-params">
                              </td>
                              <td class="headers-description">
                                <input type="text" class="input-params">
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <div class="clear"></div>
                      </div>
                      <div class="tabbed tabbed-section-4 hidden">
                        <div class="material-tabs">
                          <div class="tabbed-section__selector">
                            <a class="sub-tabbed tabbed-section__selector-tab-6 active" href="#"> <input type="radio" checked="checked" name="body-form" value="none"> none</a>
                            <a class="sub-tabbed tabbed-section__selector-tab-7" href="#"> <input type="radio" value="form-data" name="body-form"> form-data</a>
                            
                          </div>


                          <div class="tabbed-section-6 visible">
                            
                            <div class="clear"></div>
                          </div>
                          <div class="tabbed-section-7 hidden">
                            <table class="table-params" id="table-forms">
                              <thead>
                                <tr>
                                  <th class="thead-check"></th>
                                  <th class="thead-key">Key</th>
                                  <th class="thead-value">Value</th>
                                  <th class="thead-description">Description</th>
                                </tr>
                              </thead>
                              <tbody id="tbody-forms">
                                <tr>
                                  <td class="headers-check text-right">
                                    <input type="checkbox" class="input-params">
                                  </td>
                                  <td class="headers-key">
                                    <input type="text" onkeydown="firstCheck(this)" class="input-params">
                                  </td>
                                  <td class="headers-value">
                                    <input type="text" onkeydown="firstCheck(this)" class="input-params">
                                  </td>
                                  <td class="headers-description">
                                    <input type="text" onkeydown="firstCheck(this)" class="input-params">
                                  </td>
                                </tr>
                                <tr id="last-row-headers">
                                  <td class="headers-check text-right">
                                    <input type="checkbox" onkeydown="changesForms(this)" class="input-params">
                                  </td>
                                  <td class="headers-key">
                                    <input type="text" onkeydown="changesForms(this)" class="input-params">
                                  </td>
                                  <td class="headers-value">
                                    <input type="text" onkeydown="changesForms(this)" class="input-params">
                                  </td>
                                  <td class="headers-description">
                                    <input type="text" class="input-params">
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                            
                            <div class="clear"></div>
                          </div>
                        </div>
                        <div class="clear"></div>
                      </div>
                      <div class="tabbed tabbed-section-5 hidden">
                        <div class="col-8 tab-pre-scripts">
                          <textarea name="" id="" rows="10"></textarea>
                        </div>
                        <div class="clear"></div>
                      </div>
                    </div>
                    
                    <div class="clear"></div>
                  </div>
                  <div class="clear"></div>
                  <div>
                    This is response box
                  </div>
                  <div class="clear"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- You can also require other files to run in this process -->
    <!-- <script src="./renderer.js"></script> -->
    <!-- <script src="../resources/custom/js/tab.js"></script> -->
    <script src="../resources/custom/js/content-main-child.js"></script>
    <script src="../resources/custom/js/preloadDashboard.js"></script>
    <script src="../resources/custom/js/frame-list.js"></script>
    <script src="../resources/custom/vendor/tab/tab.js"></script>
    <script src="../resources/custom/vendor/content-main/content-main.js"></script>
    <script>
      function showTab(evt, tabName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tab-menu-left-content");
        for (i = 0; i < tabcontent.length; i++) {
          tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tab-menu-left");
        for (i = 0; i < tablinks.length; i++) {
          tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";
      }
    </script>
    <script src="../resources/custom/js/new-row.js"></script>
    <script src="../resources/custom/js/headers.js"></script>
    <script src="../resources/custom/js/body-data.js"></script>
    <script src="../resources/custom/js/url.js"></script>
  </body>
</html>
