<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta
      http-equiv="Content-Security-Policy"
      content="style-src 'self' 'unsafe-inline';"
    />
    <meta
      http-equiv="X-Content-Security-Policy"
      content="style-src 'self' 'unsafe-inline';"
    />
    <!-- <title>Kainix</title> -->
    <link rel="stylesheet" href="../resources/photon/css/photon-dev.css" />
    <link rel="stylesheet" href="../resources/custom/css/src-frame-list.css" />
    <link rel="stylesheet" href="../resources/custom/vendor/tab/tab.css" />
    <link
      rel="stylesheet"
      href="../resources/custom/vendor/content-main/content-main.css"
    />
    <link rel="stylesheet" href="../resources/custom/css/dashboard.css" />
    <link rel="stylesheet" href="../resources/custom/css/http-method.css" />
    <link rel="stylesheet" href="../resources/custom/css/content-main-child.css">
  </head>
  <body>
    <div class="window">
      <div class="toolbar-actions">
        <div class="btn-group">
          <button class="btn btn-default">
            <span class="icon icon-home"></span>
          </button>
          <button class="btn btn-default">
            <span class="icon icon-folder"></span>
          </button>
          <button class="btn btn-default active">
            <span class="icon icon-cloud"></span>
          </button>
          <button class="btn btn-default">
            <span class="icon icon-popup"></span>
          </button>
          <button class="btn btn-default">
            <span class="icon icon-shuffle"></span>
          </button>
        </div>

        <button id="btnTestAPI" class="btn btn-default">
          Add API - [Phoenix] [BETA]
        </button>
        <button id="btnTestAPI" class="btn btn-default">
          Delete API - [Phoenix] [BETA]
        </button>
        <button class="btn btn-default btn-dropdown pull-right">
          <span class="icon icon-megaphone"></span>
        </button>
      </div>
      <!-- Your app's content goes inside .window-content -->
      <div class="window-content">
        <div class="pane-group">
          <div class="pane pane-one-fourth sidebar">
            <nav class="nav-group">
              <ul class="list-group">
                <li
                  class="list-group-header"
                  style="background-color: #fafafa;"
                >
                  <input spellcheck="false"
                    class="form-control"
                    type="text"
                    placeholder="Filter"
                  />
                </li>
              </ul>
              <div class="tab-group" style="background-color: #fafafa;">
                <div
                  class="tab-item tab-item-fixed tab-menu-left active"
                  data-actionmenu="dashboard-history"
                  onclick="showTab(event, 'dashboard-history')"
                >
                  <span class="icon"></span>
                  History
                </div>
                <div
                  class="tab-item tab-item-fixed tab-menu-left"
                  data-actionmenu="dashboard-collection"
                  onclick="showTab(event, 'dashboard-collection')"
                >
                  <span class="icon"></span>
                  Collection
                </div>
              </div>
              <div
                id="dashboard-history"
                class="tab-menu-left-content"
                style="display: none;"
              >
                <div class="content-frame">
                  <div class="frame-inner">
                    <ul class="list-select list-editable">
                      <li class="active history-api" draggable="false"></li>
                    </ul>
                  </div>
                </div>
              </div>

              <div
                id="dashboard-collection"
                class="tab-menu-left-content"
                style="display: none;"
              >
                <div class="content-frame">
                  <div class="frame-inner">
                    <ul class="list-select list-editable">
                      <li class="collection-api" draggable="false">
                        <!-- ssss -->
                        <details>
                          <summary>Today</summary>
                          <ul>
                            <li>
                              <span class="method method-get">get</span
                              ><span class="method-link">API1</span>
                            </li>
                            <li>
                              <span class="method method-head">head</span
                              ><span class="method-link">API1</span>
                            </li>
                            <li>
                              <span class="method method-post">post</span
                              ><span class="method-link">API1</span>
                            </li>
                            <li>
                              <span class="method method-put">put</span
                              ><span class="method-link">API1</span>
                            </li>
                            <li>
                              <span class="method method-delete">delete</span
                              ><span class="method-link"
                                >api.hungthinhit.com/v1/phoenix/is/legend-never-die</span
                              >
                            </li>
                            <li>
                              <span class="method method-options">options</span
                              ><span class="method-link">API1</span>
                            </li>
                          </ul>
                        </details>
                        <details>
                          <summary>07/10/1999</summary>
                          <ul>
                            <li>
                              API1
                            </li>
                            <li>API2</li>
                          </ul>
                        </details>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </nav>
          </div>

          <div class="pane pane-main">
            <div id="tab-tab-item" class="tab-group tab-group-api"><div class="tab-item active"><span class="icon icon-cancel icon-close-tab"></span>Untitle Request</div></div>

            <!-- Main Content   -->
            <div class="pane">
              <div class="content-main">
                <div class="content-main-header">
                  <div class="content-main-header-box">
                    <div class="content-main-header-left">Request name</div>
                    <div class="content-main-header-right"></div>
                  </div>
                  <div class="content-main-header-content"></div>
                </div>
                <!-- content main request fixed : DONE -->
                <div class="content-main-request-fixed">
                  <form class="form-request">
                    <div class="col-2 method-request">
                      <select name="method-request" id="method-request">
                        <option class="option-box" value="get">GET</option>
                        <option class="option-box" value="post">POST</option>
                        <option class="option-box" value="put">PUT</option>
                        <option class="option-box" value="patch">PATCH</option>
                        <option class="option-box" value="delete"
                          >DELETE</option
                        >
                        <option class="option-box" value="options"
                          >OPTIONS</option
                        >
                      </select>
                    </div>
                    <div class="col-8 path-request">
                      <input spellcheck="false"
                        id="path"
                        required="required"
                        type="text"
                        placeholder="http://localhost"
                        name="path"
                        onchange="checkSpecialSymbol(this)"
                      />
                    </div>
                    <div class="form-content"></div>
                    <div class="col-2 send-request">
                      <input spellcheck="false"
                        type="button"
                        class="btn-send-request"
                        name="submit"
                        value="Send" id="send"
                      />
                    </div>
                  </form>
                  <div class="clear-fix"></div>
                </div>
                <!-- End:==:content main request fixed : DONE -->
                <div class="pane">
                  <div class="content-main-child">


                    <div class="material-tabs">
                      <div class="tabbed-section__selector">
                        <a class="tabbed-section__selector-tab-1 active" href="#">Params</a>
                        <a class="tabbed-section__selector-tab-2" href="#">Authorization</a>
                        <a class="tabbed-section__selector-tab-3" href="#">Headers</a>
                         <a class="tabbed-section__selector-tab-4" href="#">Body</a>
                        <a class="tabbed-section__selector-tab-5" href="#">Pre-scripts</a>
                      </div>


                      <div class="tabbed tabbed-section-1 visible">
                        <div class="content-item-params-header">Query Params</div>
                        <table class="table-params" id="table-params">
                          <thead>
                            <tr>
                              <th class="thead-check"></th>
                              <th class="thead-key">Key</th>
                              <th class="thead-value">Value</th>
                              <th class="thead-description">Description</th>
                            </tr>
                          </thead>
                          <tbody id="tbody-params">
                            <tr>
                              <td class="params-check text-right">
                                <input spellcheck="false" type="checkbox" onkeydown="firstCheck(this)" onchange="changeValue()" class="input-params">
                              </td>
                              <td class="params-key">
                                <input spellcheck="false" type="text" onkeydown="firstCheck(this)" onkeyup="changeValue()" class="input-params">
                              </td>
                              <td class="params-value">
                                <input spellcheck="false" type="text" onkeydown="firstCheck(this)" onkeyup="changeValue()" class="input-params">
                              </td>
                              <td class="params-description">
                                <input spellcheck="false" type="text" onkeydown="firstCheck(this)" onkeyup="changeValue()" class="input-params">
                              </td>
                            </tr>
                            <tr id="last-row-params">
                              <td class="params-check text-right">
                                <input spellcheck="false" type="checkbox" onchange="changeValue()" onkeydown="changesParams(this)" class="input-params">
                              </td>
                              <td class="params-key">
                                <input spellcheck="false" type="text" onkeyup="changeValue()" onkeydown="changesParams(this)" class="input-params">
                              </td>
                              <td class="params-value">
                                <input spellcheck="false" type="text" onkeyup="changeValue()" onkeydown="changesParams(this)" class="input-params">
                              </td>
                              <td class="params-description">
                                <input spellcheck="false" type="text" onkeyup="changeValue()" class="input-params">
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <div class="clear"></div>
                      </div>
                      <div class="tabbed tabbed-section-2 hidden">
                        <div class="col-12 d-flex authorization-tabbed">
                          <div class="col-3 text-center authorization-tabbed-left">
                            <select name="authorize-type" id="authorize-type" onchange="setChangeType()">
                              <option value="none">None</option>
                              <option value="Bearer">Bearer</option>
                            </select>
                          </div>
                          <div class="col-9 authorization-tabbed-right" id="authorization-content-right">
                            
                          </div>
                        </div>
                        <div class="clear"></div>
                      </div>
                      <div class="tabbed tabbed-section-3 hidden">
                        <div class="content-item-params-header">
                          Headers
                        </div>
                        <table class="table-headers" id="table-headers">
                          <thead>
                            <tr>
                              <th class="thead-check"></th>
                              <th class="thead-key">Key</th>
                              <th class="thead-value">Value</th>
                              <th class="thead-description">Description</th>
                            </tr>
                          </thead>
                          <tbody id="tbody-headers">
                            <tr>
                              <td class="headers-check text-right">
                                <input spellcheck="false" type="checkbox" class="input-params">
                              </td>
                              <td class="headers-key">
                                <input spellcheck="false" type="text" onkeydown="firstCheck(this)" class="input-params">
                              </td>
                              <td class="headers-value">
                                <input spellcheck="false" type="text" onkeydown="firstCheck(this)" class="input-params">
                              </td>
                              <td class="headers-description">
                                <input spellcheck="false" type="text" onkeydown="firstCheck(this)" class="input-params">
                              </td>
                            </tr>
                            <tr id="last-row-headers">
                              <td class="headers-check text-right">
                                <input spellcheck="false" type="checkbox" onkeydown="changesHeaders(this)" class="input-params">
                              </td>
                              <td class="headers-key">
                                <input spellcheck="false" type="text" onkeydown="changesHeaders(this)" class="input-params">
                              </td>
                              <td class="headers-value">
                                <input spellcheck="false" type="text" onkeydown="changesHeaders(this)" class="input-params">
                              </td>
                              <td class="headers-description">
                                <input spellcheck="false" type="text" class="input-params">
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <div class="clear"></div>
                      </div>
                      <div class="tabbed tabbed-section-4 hidden">
                        <div class="material-tabs">
                          <div class="tabbed-section__selector">
                            <a class="sub-tabbed tabbed-section__selector-tab-6 active" href="#"> <input spellcheck="false" type="radio" checked="checked" name="body-form" value="none"> none</a>
                            <a class="sub-tabbed tabbed-section__selector-tab-7" href="#"> <input spellcheck="false" type="radio" value="form-data" name="body-form"> form-data</a>
                            <a class="sub-tabbed tabbed-section__selector-tab-8" href="#"> <input spellcheck="false" type="radio" value="raw" name="body-form"> raw</a>
                            
                          </div>


                          <div class="tabbed-section-6 visible">
                            
                            <div class="clear"></div>
                          </div>

                          <div class="tabbed-section-7 hidden">
                            <table class="table-params" id="table-forms">
                              <thead>
                                <tr>
                                  <th class="thead-check"></th>
                                  <th class="thead-key">Key</th>
                                  <th class="thead-value">Value</th>
                                  <th class="thead-description">Description</th>
                                </tr>
                              </thead>
                              <tbody id="tbody-forms">
                                <tr>
                                  <td class="headers-check text-right">
                                    <input spellcheck="false" type="checkbox" class="input-params">
                                  </td>
                                  <td class="headers-key">
                                    <input spellcheck="false" type="text" onkeydown="firstCheck(this)" class="input-params">
                                  </td>
                                  <td class="headers-value">
                                    <input spellcheck="false" type="text" onkeydown="firstCheck(this)" class="input-params">
                                  </td>
                                  <td class="headers-description">
                                    <input spellcheck="false" type="text" onkeydown="firstCheck(this)" class="input-params">
                                  </td>
                                </tr>
                                <tr id="last-row-headers">
                                  <td class="headers-check text-right">
                                    <input spellcheck="false" type="checkbox" onkeydown="changesForms(this)" class="input-params">
                                  </td>
                                  <td class="headers-key">
                                    <input spellcheck="false" type="text" onkeydown="changesForms(this)" class="input-params">
                                  </td>
                                  <td class="headers-value">
                                    <input spellcheck="false" type="text" onkeydown="changesForms(this)" class="input-params">
                                  </td>
                                  <td class="headers-description">
                                    <input spellcheck="false" type="text" class="input-params">
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                          <div class="tabbed-section-8 col-12 hidden">
                            <div class="col-8 raw-data-form d-flex">
                              <textarea readonlycols="30" rows="8" cols="3" class="rownr" value="1"></textarea>
                              <textarea class="txt" onkeydown="if(event.keyCode===9){var v=this.value,s=this.selectionStart,e=this.selectionEnd;this.value=v.substring(0, s)+'\t'+v.substring(e);this.selectionStart=this.selectionEnd=s+1;return false;}" name="" id="" nowrap="nowrap" wrap="off"
                            autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" oninput="input_changed(this)" onscroll="scroll_changed(this)"></textarea>
                            </div>
                            <div class="clear"></div>
                          </div>
                        </div>
                        <div class="clear"></div>
                      </div>
                      <div class="tabbed tabbed-section-5 hidden">
                        <div class="col-8 tab-pre-scripts d-flex">
                          <textarea readonlycols="30" rows="10" cols="3" class="rownr" value="1"></textarea>
                          <textarea class="txt" onkeydown="if(event.keyCode===9){var v=this.value,s=this.selectionStart,e=this.selectionEnd;this.value=v.substring(0, s)+'\t'+v.substring(e);this.selectionStart=this.selectionEnd=s+1;return false;}" name="" id="" nowrap="nowrap" wrap="off"
                            autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" oninput="input_changed(this)" onscroll="scroll_changed(this)"></textarea>
                        </div>
                        <div class="clear"></div>
                      </div>
                    </div>
                    
                    <div class="clear"></div>
                  </div>
                  <div class="clear"></div>
                  <div class="content-response-child">
                    <div id="error-log-response" class="error-log-response justify-content-center">
                      <div class="serend-name text-center">
                        KaiNix
                      </div>
                      <div class="serend-img text-center">
                        <img src="../resources/custom/imgs/114-1140560_the-birth-of-the-phoenix-png-download-phoenix (1).png" width="70" alt="">
                      </div>
                      <div class="serend-content text-center">
                        Could not send request
                        <br/>
                        <span id="error-content">
                          this is error content
                        </span>
                      </div>
                    </div>
                    <div class="pre-load-response" id="pre-load-response">
                      <h5 id="title-response">Response</h5>
                      <div class="col-12 gif-pre-load text-center">
                        <img src="../resources/custom/imgs/giphy.gif" alt="">
                      </div>
                      <div id="error-log" class="col-12 text-center"></div>
                    </div>

                    <div class="material-tabs">
                      <div class="col-12 d-flex">
                        <div class="col-6">
                          <div class="tabbed-section__selector">
                            <a class="tabbed-section__selector-tab-9 active" href="#">Body</a>
                            <a class="tabbed-section__selector-tab-10" href="#">Cookie</a>
                            <a class="tabbed-section__selector-tab-11" href="#">Headers</a>
                          </div>
                        </div>
                        <div class="col-6 right-response-nav">
                          <div class="col-12 d-flex">
                            <div class="col-2"><img src="../resources/custom/imgs/icons8-website-50.png" width="12" height="12" alt="Request Type" style="margin-right: 3px;"><span id="response-request-type">GET</span></div>
                            <div class="col-4">Status: <span title="" id="response-status">200</span></div>
                            <div class="col-3">Time: <span id="response-time">600</span></div>
                            <div class="col-3">Size: <span id="response-size">200 B</span></div>
                          </div>
                        </div>
                        <div class="clear"></div>
                      </div>
                      
                      <div class="tabbed tabbed-section-9 visible">
                        <div class="col-12 body-response-body">
                          <div class="material-tabs">
                            <div class="col-12 d-flex">
                              <div class="col-3">
                                <div class="tabbed-section__selector text-center">
                                  <a class="tabbed-section__selector-tab-12 active" href="#">Pretty</a>
                                  <a class="tabbed-section__selector-tab-13" href="#">Raw</a>
                                  <a class="tabbed-section__selector-tab-14" href="#">Preview</a>
                                </div>
                              </div>
                              <div class="col-2 type-pretty">
                                <select name="pretty" id="pretty">
                                  <option value="json">JSON</option>
                                  <!-- <option value="html">HTML</option> -->
                                </select>
                              </div>
                              <div class="clear"></div>
                            </div>
                            <div class="tabbed tabbed-response tabbed-section-12 visible">
                              <div class="col-12 d-flex" id="pretty-json">
                                <textarea readonlycols="30" rows="9" cols="3" class="rownr-3" value="1"></textarea>
                                <textarea class="txt-90" onkeydown="if(event.keyCode===9){var v=this.value,s=this.selectionStart,e=this.selectionEnd;this.value=v.substring(0, s)+'\t'+v.substring(e);this.selectionStart=this.selectionEnd=s+1;return false;}" name="textarea-pretty" id="textarea-pretty" nowrap="nowrap" wrap="off"
                            autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" oninput="input_changed(this)" onmouseover="input_changed(this)" onscroll="scroll_changed(this)" readonly>{
  "": "",
  "": ""
}
                                </textarea>
                              </div>
                              <div class="clear"></div>
                            </div>
                            <div class="tabbed tabbed-response tabbed-section-13 hidden">
                              <textarea class="txt-90" onkeydown="if(event.keyCode===9){var v=this.value,s=this.selectionStart,e=this.selectionEnd;this.value=v.substring(0, s)+'\t'+v.substring(e);this.selectionStart=this.selectionEnd=s+1;return false;}" name="textarea-raw" id="textarea-raw" rows="8" spellcheck="false" readonly></textarea>
                              <div class="clear"></div>
                            </div>
                            <div class="tabbed tabbed-response tabbed-section-14 hidden">
                              <div class="col-12" id="load-preview">
                                Don't have anything to show preview
                              </div>
                              <div class="clear"></div>
                            </div>
                          </div>
                        </div>
                        <div class="clear"></div>
                      </div>
                      <div class="tabbed tabbed-section-10 hidden">
                        <div class="response-cookies">
                          <div class="cookies col-12" id="cookies">
                            <table class="pure-table">
                              <thead class="text-darkgray">
                                <tr>
                                  <th>Name</th>
                                  <th>Value</th>
                                  <th>Domain</th>
                                  <th>Path</th>
                                  <th>Expires</th>
                                  <th>HttpOnly</th>
                                  <th>Secure</th>
                                </tr>
                              </thead>
                              <tbody class="text-grey" id="tbody-cookies"><tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr></tbody>
                            </table>
                          </div>
                          <div class="no-cookies justify-content-center text-center" id="load-cookies">
                            <img src="../resources/custom/imgs/cartoon-cookie-png-8.png" alt="">
                            <br/>
                            <span>No cookies were returned by the server</span>
                          </div>
                        </div>
                        <div class="clear"></div>
                      </div>
                      <div class="tabbed tabbed-section-11 hidden">
                        <div class="response-header" id="response-header">
                          <table class="pure-table">
                            <thead>
                              <tr>
                                <th></th>
                                <th>Key</th>
                                <th>Value</th>
                              </tr>
                            </thead>
                            <tbody id="tbody-response-table">
                              <tr>
                                <td></td>
                                <td>a sddfadf adfabfavd sfadf</td>
                                <td>avsdfa </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                        <div class="clear"></div>
                      </div>
                    </div>
                    
                    <div class="clear"></div>
                  </div>
                  <div class="clear"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- You can also require other files to run in this process -->
    <!-- <script src="./renderer.js"></script> -->
    <!-- <script src="../resources/custom/js/tab.js"></script> -->
    <script src="../resources/custom/js/content-main-child.js"></script>
    <script src="../resources/custom/js/preloadDashboard.js"></script>
    <script src="../resources/custom/js/frame-list.js"></script>
    <script src="../resources/custom/vendor/tab/tab.js"></script>
    <script src="../resources/custom/vendor/content-main/content-main.js"></script>
    <script>
      function showTab(evt, tabName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tab-menu-left-content");
        for (i = 0; i < tabcontent.length; i++) {
          tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tab-menu-left");
        for (i = 0; i < tablinks.length; i++) {
          tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";
      }
    </script>
    <script type="text/javascript">
      var cntline;
  
      function keyup(obj, e)
      {
        if(e.keyCode >= 33 && e.keyCode <= 40) // arrows ; home ; end ; page up/down
          selectionchanged(obj, e.keyCode);
      }
      
      // function selectionchanged(obj)
      // {
      //   var substr = obj.value.substring(0,obj.selectionStart).split('\n');
      //   var row = substr.length;
      //   var col = substr[substr.length-1].length;
      //   var tmpstr = '(' + row.toString() + ',' + col.toString() + ')';
      //   // if selection spans over 
      //   if(obj.selectionStart != obj.selectionEnd)
      //   {
      //     substr = obj.value.substring(obj.selectionStart, obj.selectionEnd).split('\n');
      //     row += substr.length - 1;
      //     col = substr[substr.length-1].length;
      //     tmpstr += ' - (' + row.toString() + ',' + col.toString() + ')';
      //   }
      //   obj.parentElement.getElementsByTagName('input')[0].value = tmpstr;
      // }
      
      function input_changed(obj_txt)
      {
        obj_rownr = obj_txt.parentElement.parentElement.getElementsByTagName('textarea')[0];
        cntline = count_lines(obj_txt.value);
        if(cntline == 0) cntline = 1;
        tmp_arr = obj_rownr.value.split('\n');
        cntline_old = parseInt(tmp_arr[tmp_arr.length - 1], 10);
        // if there was a change in line count
        if(cntline != cntline_old)
        {
          obj_rownr.cols = cntline.toString().length; // new width of txt_rownr
          populate_rownr(obj_rownr, cntline);
          scroll_changed(obj_txt);
        }
      }
      
      function scroll_changed(obj_txt)
      {
        obj_rownr = obj_txt.parentElement.parentElement.getElementsByTagName('textarea')[0];
        scrollsync(obj_txt,obj_rownr);
      }
      
      function scrollsync(obj1, obj2)
      {
        // scroll text in object id1 the same as object id2
        obj2.scrollTop = obj1.scrollTop;
      }
      
      function populate_rownr(obj, cntline)
      {
        tmpstr = '';
        for(i = 1; i <= cntline; i++)
        {
          tmpstr = tmpstr + i.toString() + '\n';
        }
        obj.value = tmpstr;
      }
      
      function count_lines(txt)
      {
        if(txt == '')
        {
          return 1;
        }
        return txt.split('\n').length + 1;
      }
    </script>
    <script src="../resources/custom/js/new-row.js"></script>
    <script src="../resources/custom/js/headers.js"></script>
    <!-- <script src="../resources/custom/js/body-data.js"></script> -->
    <script src="../resources/custom/js/url.js"></script>
    <!-- <script src="../resources/custom/js/request-get.js"></script> -->
  </body>
</html>
