* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

.list-group-header .form-control {
  cursor: auto;
  border-radius: 5px;
}

.tab-menu-left {
  flex: auto !important;
}

.sidebar {
  min-width: 185px;
}

.pane-main {
  overflow: hidden;
}

.content-frame {
  margin: 0;
  display: flex;
  width: 100%;
}

.content-frame .frame-inner ul li details summary,
.content-frame .frame-inner ul li > span {
  padding: 5px 0 0 12px;
}

.col-2 {
  width: 16.66%;
}

.col-4 {
  width: 33.33%;
}

.col-8 {
  width: 66.66%;
}

.col-12 {
  width: 100%;
}

.col-3 {
  width: 25%;
}

.col-9 {
  width: 75%;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center!important;
}

.justify-content-right {
  justify-content: flex-end!important;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.align-content-center {
  align-content: center;
}