details > ul {
  font-size: 10px;
  width: 100%;
}

.content-frame .frame-inner ul li ul li {
  padding-left: 10px;
  display: flex;
  /* padding-top: 3px;
  padding-bottom: 3px; */
}

.content-frame .frame-inner ul li ul li:hover,
.content-frame .frame-inner ul li ul li:focus,
.content-frame .frame-inner ul li ul li:hover .method,
.content-frame .frame-inner ul li ul li:focus .method,
.content-frame .frame-inner ul li ul li:hover .method-link,
.content-frame .frame-inner ul li ul li:focus .method-link {
  background-color: #f7f7f7;
}

.list-select .method {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  align-self: center;
  width: 62px;
  display: inline-block;
  background-color: inherit;
}

.list-select .method-get {
  color: #08ac4c !important;
}
.list-select .method-head {
  color: #818181 !important;
}
.list-select .method-put {
  color: #4860f1 !important;
}
.list-select .method-post {
  color: #ffbc03 !important;
}
.list-select .method-options {
  color: #818181 !important;
}
.list-select .method-delete {
  color: #f62424 !important;
}
.list-select .method-patch {
  color: #818181 !important;
}

.list-select .method-link {
  padding-left: 5px !important;
  padding-right: 3px !important;
  width: calc(100% - 62px);
  word-wrap: break-word !important;
}
